include "includes/misc.kdl"
include "includes/monitors.kdl"
include "includes/input.kdl"
include "includes/appearance.kdl"
include "includes/workspaces.kdl"
include "includes/autostart.kdl"
include "includes/env.kdl"
include "includes/keybinds.kdl"
include "includes/rules.kdl"
