@define-color accent #ebdbb2;
@define-color surface0 #282828;
@define-color surface1 #504945;
@define-color surface2 #1d2021;
@define-color cyan #8ec07c;
@define-color aqua #689d6a;
@define-color text #ebdbb2;
@define-color base #282828;
@define-color red  #cc241d;
@define-color red2 #fb4934;
@define-color blue #458588;
@define-color orange #d65d0e;
@define-color yellow #d79921;
@define-color green #98971a;
@define-color purple #b16286;
@define-color magenta #d3869b;
