@import url("../colors/schemes/tokyonight/storm/colors.css");
:root {
  --hover-transition: var(--hover-tranistion);
  --group-collapse-transition: var(--group-collapse-tranistion);
}


* {
    outline: none;
    font-family: "SF Pro Display";
    font-size: 18px;
    text-shadow: none;
    color: @text;
}

.close-button {
  /* The notification Close Button */
  background: @surface0;
  color: @text;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 8px;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @red;
  transition: var(--hover-tranistion);
  border: none;
}

.notification-row {
  background: none;
  outline: none;
}

/*.notification-row:focus {
  background: @base;
}*/

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  border-radius: 12px;
  border: 2px solid @blue;
  padding: 0;
  transition: var(--hover-tranistion);
  background: @surface2;
}

.notification-row .notification-background .notification.low {
  /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
  /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: none;
  border: none;
  color: @text;
  transition: var(--hover-tranistion);
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  /*Notification Pop Up Themeing when hovering*/
  -gtk-icon-filter: none;
  background: @surface0;
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 12px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 100px;
  /* Size in px */
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-app-icon-size);
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
  /* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
  filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: var(--font-size-body);
  font-weight: normal;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: white;
  -gtk-icon-filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

/*.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: @surface2;
  color: @text;
  caret-color: @text;
  border: 2px solid @blue;
  border-radius: 12;
}*/

/*.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: @base;
  border: var(--border);
  border-radius: var(--border-radius);
  color: @text;
}*/

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: @base;
  color: var(--text-color-disabled);
  border: var(--border);
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: var(--noti-bg-hover);
}

.notification-row .notification-background .notification .notification-alt-actions {
  background: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 4px;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  margin: 4px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-action > button {
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.notification-group {
  /* Styling only for Grouped Notifications */
  background: transparent;
  /* The groups close button */
}

.notification-group:focus {
  background: transparent;
}

.notification-group.low {
  /* Low Priority Group */
}

.notification-group.normal {
  /* Low Priority Group */
}

.notification-group.critical {
  /* Low Priority Group */
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
  color: @text;
  background-color: @surface0;
}

.notification-group .notification-group-close-button .close-button:hover {
  background-color: @red;
  transition: var(--hover-tranistion);
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
  margin: 0 16px;
  color: @text;
}

.notification-group .notification-group-headers {
  /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
  color: @blue;
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
  color: @text;
}

.notification-group .notification-group-buttons .notification-group-close-all-button {
  /* Notification Group Buttons */
  color: @text;
}

.notification-group .notification-group-buttons .notification-group-collapse-button:hover {
  background-color: @blue;
  transition: var(--hover-tranistion);
}

.notification-group .notification-group-buttons .notification-group-close-all-button:hover {
  /* Notification Group Close Button */
  background-color: @red;
  transition: var(--hover-tranistion);
}


.notification-group.collapsed {
  /* When another group is expanded, lower the opacity of the collapsed ones */
  background: transparent;
}

.notification-group.expand {
  background: alpha(@base, 0.9);
}

.notification-group.collapsed.not-expanded {
  opacity: 0.4;
}

.notification-group.collapsed .notification-row .notification {
  background-color: @surface2; /* color of notification */
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: .5;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: @surface0; /* color of grouped notifications when hovering */
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: alpha(@base, 0.9);
  color: @text;
  border-radius: 12px;
  border: 2px solid @blue;
}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  opacity: 0.9;
}

.control-center .control-center-list {
  /* Drop Down List of notifications */
  background: transparent;
}

/*.control-center-list {
  color: @blue;
}*/


.control-center .control-center-list .notification {
  box-shadow: none;
  background: @surface2;
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: var(--group-collapse-tranistion), var(--hover-tranistion);
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  /*Color of Notification in list when hovering*/
  background-color: @surface0;
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

scale slider {
  background-color: @surface2;
  border: 2px solid @orange;
  box-shadow: none;
}

scale slider:hover {
  background-color: @surface0;
  box-shadow: none;
  border: 3px solid @orange;
}

scale trough {
  background-color: @surface2;
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
}

scale trough highlight {
  background: @yellow;
}

tooltip {
    background-color: @surface0;
}

/*** Widgets ***/
/* Buttons widget */
.widget-buttons-grid {
    font-size: 1rem;
    padding-top: 22px;
    margin: 0px 6px;
}

.widget-buttons-grid > flowbox > flowboxchild {
  padding: 2px 10px;
}

.widget-buttons-grid > flowbox > flowboxchild:hover {
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: @surface2;
   /* border: 2px solid @blue; */
    min-width: 60px;
    min-height: 30px;
    padding: 6px;
    margin: 0px 0px 0px;
    transition: all .5s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @surface2;
    box-shadow: 0px 0px 10px @blue;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @blue;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked label {
    color: @base;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
    background: alpha(@blue, 0.9);
}

/* Mpris widget */
:root {
  --mpris-album-art-overlay: rgba(0, 0, 0, 0.55);
  --mpris-button-hover: @blue;
  --mpris-album-art-icon-size: 96px;
  --mpris-album-art-shadow: none;
}

.widget-mpris {
  /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
  margin: 8px 20px;
  border-radius: var(--border-radius);
  border: 2px solid @red;
  box-shadow: var(--mpris-album-art-shadow);
}

.widget-mpris .widget-mpris-player .mpris-background {
  filter: blur(10px);
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background-color: var(--mpris-album-art-overlay);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: var(--noti-bg-hover);
  color: @text;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: var(--border-radius);
  box-shadow: var(--mpris-album-art-shadow);
  -gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button {
  /* Change player control buttons */
  background-color: @surface2;
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
  background-color: var(--mpris-button-hover);
}

.widget-mpris > box > button {
  /* Change player side buttons */
  background-color: @surface2;
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
  background-color: @surface0;
}

/* Volume widget */
.widget-volume {
    padding: 6px 5px 5px 5px;
    margin: unset;
    font-size: 1.3rem;
}

.widget-volume > box > button {
    background: @surface2;
}

.widget-volume > box > slider > button {
    background: @blue;
}


.widget-volume > box > button.toggle:hover {
    box-shadow: 0px 0px 10px @blue;
}

.widget-volume > box > button.toggle:checked {
    background: @blue;
    border: none;
}
.per-app-volume {
    padding: 4px 8px 8px 8px;
    margin: 0px 8px 8px 8px;
}

/* Backlight widget */
.widget-backlight {
    padding: 0 0 3px 16px;
    margin: unset;
    font-size: 1.1rem;
}

/* DND widget */
.widget-dnd {
    font-weight: 500;
    margin: unset;
    padding: 20px 15px 15px 15px;
}
.widget-dnd > switch {
    font-size: initial;
    border-radius: 100px;
    background: @red;
    box-shadow: none;
    padding: 0px;
}
.widget-dnd > switch:checked {
    background: @blue;
}
.widget-dnd > switch slider {
    background: @base;
    border-radius: 12px;
    min-width: 18px;
    min-height: 18px;
}

/* Title widget */
.widget-title {
    padding: unset;
    margin: unset;
    font-weight: 500;
    padding: 15px;
}
.widget-title > label {
    font-size: 1.5rem;
}
.widget-title > button {
    padding:unset;
    margin:unset;
    text-shadow: none;
    background: @red;
    border: none;
    box-shadow: none;
    border-radius: 100px;
    padding:0px 6px;
    transition: all .7s ease;
}
.widget-title > button:hover {
    background: alpha(@red2, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
}

scrollbar,
scrollbar trough,
scrollbar slider {
    all: unset;
    min-width: 0px;
    min-height: 0px;
    border: none;
    background: transparent;
}
