@import url("../colors/schemes/tokyonight/storm/colors.css");

* {
    outline: none;
    font-family: "SF Pro Display";
    font-size: 18px;
    text-shadow: none;
    color: @text;
}

.control-center {
  background-color: alpha(@base, 0.9);
  border: 2px solid @blue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
  padding: 5px;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: @blue;
}

.control-center .notification-row .notification-background {
  border-radius: 15px;
  margin-top: 0px;
}

.notification {
  background-color: alpha(@base, 0.9);
}

.notification > *:last-child > *  {
    margin: 5px;
    color: @base;
}

.summary { font-size: 1.1rem; }
.time { font-size: 0.8rem; }
.body { font-size: 1rem; }

.notification-content {
    background: @base;
    padding: 0px 0px 0px 0px;
}

.notification-action > button {
    padding: unset;
    margin: unset;
}
.notification-action > label {
    font-size: 1rem;
    font-weight: normal;
}

.notification.critical {
    background-color: alpha(@red, 0.9);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}
.notification.low,
.notification.normal  {
    background-color: alpha(@base, 0.9);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}

.close-button {
    background-color: alpha(@surface0, 0.9);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
}
.close-button:hover {
    background-color: alpha(@red, 0.9);
}

.notification-group-header,
.notification-group-icon {
    font-size: 0.9rem;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
    background-color: @surface0;
    color: @text;
}

.notification-group-collapse-button:hover {
    background-color: alpha(@blue, 0.9);
}
.notification-group-close-all-button:hover {
    background-color: alpha(@red, 0.9);
}

trough highlight {
    background: @blue;
}
scale trough {
    margin: 0rem 1rem;
    background-color: @surface0;
    min-height: 8px;
    min-width: 70px;
}
slider {
    background-color: @text;
}
tooltip {
    background-color: @surface0;
}

/*** Widgets ***/
/* Buttons widget */
.widget-buttons-grid {
    font-size: 1rem;
    padding: 20px 20px 10px;
    margin: unset;
}

.widget-buttons-grid > flowbox > flowboxchild {
  outline: 0px;
  margin: unset;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: @surface2;
    border: 2px solid @blue;
    min-width: 64px;
    min-height: 30px;
    padding: 6px;
    margin: 0px 0px 0px;
    transition: all .5s ease;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @surface2;
    box-shadow: 0px 0px 10px @blue;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @blue;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
    background: alpha(@blue, 0.9);
}

/* Mpris widget */
@define-color mpris-album-art-overlay rgba(122, 162, 247, 0.55);
@define-color mpris-button-hover rgba(122, 162, 247, 0.5);

.widget-mpris .widget-mpris-player {
    margin: 16px 20px;
    border: 2px solid @blue;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65); */
}
.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65); */
}
.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0px 8px 8px 8px;
}
.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 1rem;
}
.widget-mpris .widget-mpris-player > box > button:hover {
    background: @mpris-button-hover;
}
.widget-mpris > box > button:hover {
    background: alpha(@red2, 0.6);
}

/* Volume widget */
.widget-volume {
    padding: 6px 5px 5px 5px;
    margin: unset;
    font-size: 1.3rem;
}
.widget-volume > box > button {
    background: @surface2;
}

.widget-volume > box > button.toggle:hover {
    box-shadow: 0px 0px 10px @blue;
}

.widget-volume > box > button.toggle:checked {
    background: @blue;
    border: none;
}
.per-app-volume {
    padding: 4px 8px 8px 8px;
    margin: 0px 8px 8px 8px;
}

/* Backlight widget */
.widget-backlight {
    padding: 0 0 3px 16px;
    margin: unset;
    font-size: 1.1rem;
}

/* DND widget */
.widget-dnd {
    font-weight: 500;
    margin: unset;
    padding: 20px 15px 15px 15px;
}
.widget-dnd > switch {
    font-size: initial;
    border-radius: 100px;
    background: @red;
    box-shadow: none;
    padding: 3px;
}
.widget-dnd > switch:checked {
    background: @blue;
}
.widget-dnd > switch slider {
    background: @base;
    border-radius: 12px;
    min-width: 18px;
    min-height: 18px;
}

/* Title widget */
.widget-title {
    padding: unset;
    margin: unset;
    font-weight: 500;
    padding: 15px;
}
.widget-title > label {
    font-size: 1.5rem;
}
.widget-title > button {
    padding:unset;
    margin:unset;
    text-shadow: none;
    background: @red;
    border: none;
    box-shadow: none;
    border-radius: 100px;
    padding:0px 6px;
    transition: all .7s ease;
}
.widget-title > button:hover {
    background: alpha(@red2, 0.9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
}

scrollbar,
scrollbar trough,
scrollbar slider {
    all: unset;
    min-width: 0px;
    min-height: 0px;
    border: none;
    background: transparent;
}
