* {
  /* Background colors */
  /* E6 = 90% opacity */
  /* F2 = 95% opacity */
  bg: #1e1e2eE6;
  bg-alt: #313244;
  bg-selected: #45475a;
    
  /* Foreground colors */
  fg: #cdd6f4;
  fg-dim: #6c7086;
    
  /* Accent color */
  accent: #f2cdcd;
}
