* {
  /* Background colors */
  /* E6 = 90% opacity */
  /* F2 = 95% opacity */
  bg: #3b4252E6;
  bg-alt: #2e3440;
  bg-selected: #8fbcbb;
    
  /* Foreground colors */
  fg: #d8dee9;
  fg-dim: #2e3440;
    
  /* Accent color */
  accent: #8fbcbb;
}
