#battery {
	color: @green;
	margin-right: 7px
}

#battery.warning {
	background-color: transparent;
	color: @yellow;
}

@keyframes chargingBlink {
	to{
		color: transparent;
	}
}

@keyframes dyingBlink {
	to {
		color: transparent;
	}
}

#battery.full {
	color: @green;
}

#battery.charging:not(.full), #battery.plugged:not(.full) {
	color: @green;
	animation-name: chargingBlink;
	animation-duration: 2s;
	animation-timing-function: steps(36);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#battery.critical:not(.charging) {
	color: @red;
	animation-name: dyingBlink;
	animation-duration: 1s;
	animation-timing-function: steps(18);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

