#battery{
	padding: 4px 12px;
	margin: 8px 0;
	background-color: @green;
	color: @base;
	border-radius: 10px;
}

#battery.good{
	background-color: @green;
}
#battery.good:hover{
	background-color: shade(@green, 1.1)
}
#battery.warning{
	background-color: @yellow;
}
#battery.warning:hover{
	background-color: shade(@yellow, 1.1)
}
#battery.critical{
	background-color: @red;
}
#battery.critical:hover{
	background-color: shade(@red, 1.1)
}
#battery.charging{
	background-color: @green;
}
#battery.charging:hover{
	background-color: shade(@green, 1.1)
}
#battery.plugged{
	background-color: @green;
}
#battery.plugged:hover{
	background-color: shade(@green, 1.1)
}
