@define-color accent #ebdbb2;
@define-color cyan #689d6a;
@define-color teal #1abc9c;
@define-color text #ebdbb2;
@define-color base #282828;
@define-color red  #cc241d;
@define-color blue #458588;
@define-color orange #d65d0e;
@define-color yellow #d79921;
@define-color green #98971a;
@define-color purple #b16286;
@define-color magenta #d3869b;
