@import "nord.css";
@import "battery.css";
* {
    font-family: "AdwaitaMono", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

window#waybar {
    background-color: alpha(@nord1, 0.9);
    border-radius: 8px;
    border: 2px solid @nord7;
}

#workspaces {
  margin-left: 8px;
  margin: 6px;
  padding: 0;
}

#workspaces button {
  padding: 0px 6px;
  margin-right: 3px;
  border-radius: 20%;
  background-color: inherit;
  color: @nord7;
  transition: 0.3s ease;
}

#workspaces button.active {
  background-color: @nord7;  
  color: @nord0;
}

#workspaces button:hover {
  background-color: shade(@nord7, 0.8);
  color: @nord0;
}

#window {
    color: @nord7;
}

#temperature {
  color: @yellow;
}
#temperature.critical {
	color: @red
}

#custom-gpu-temp {
	color: @orange;
}


#network {
    padding: 0px 0px;
    color: @green;
    margin-right: 14px;
    transition: all 0.3s ease;
}

#pulseaudio {
    color: @lavender;
    transition: all 0.3s ease;
}

#clock {
    padding: 4px 12px;
    background-color: inherit;
    color: @nord4;
    margin: 6px 0;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 14px;
}

#clock:hover {
    background-color: @nord1;
}

#tray { 
    padding: 4px 0px;
    margin: 6px 0px;
    color: @nord4;
}

#custom-seperator {
    color: @nord4;
}
