@import "tokyonight.css";
@import "battery.css";
* {
    font-family: "AdwaitaMono", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

window#waybar {
    background-color: alpha(@base, 0.9);
    border-radius: 8px;
    border: 2px solid @accent;
}

#workspaces {
  margin: 6px 6px;
  padding: 0;
}

#workspaces button {
  padding: 0px 5px;
  border-radius: 20%;
  background-color: inherit;
  color: @accent;
  transition: 0.3s ease;
}

#workspaces button.active {
  background-color: @accent;
  color: @base;
}

#workspaces button:hover {
  background-color: shade(@accent, 0.9);
  color: @base;
}

#window {
    color: @accent;
}

#temperature {
  color: @yellow;
}
#temperature.critical {
	color: @red
}

#custom-gpu-temp {
	color: @orange;
}

#power-profiles-daemon.performance {
	color: @red
}

#power-profiles-daemon.balanced {
	color: @cyan;
}

#power-profiles-daemon.power-saver {
	color: @green;
}

#network {
    color: @blue;
}
#network.ethernet {
    margin-right: 6px;
}
    
#network.wifi {
    margin-right: 9px;
}

#pulseaudio {
    color: @magenta;
    transition: all 0.3s ease;
}

#clock {
    padding: 4px 12px;
    background-color: inherit;
    color: @text;
    margin: 6px 0;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 14px;
}

#clock:hover {
    background-color: shade(@base, 0.8);
}

#custom-seperator {
    color: @text;
}
