@import "tokyonight.css";
* {
    font-family: "AdwaitaMono", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

window#waybar {
    background-color: alpha(@base, 0.9);
    border-radius: 8px;
    border: 2px solid @accent;
}

#workspaces {
  margin: 6px 6px;
  padding: 0;
}

#workspaces button {
  padding: 0px 5px;
  border-radius: 20%;
  margin-right: 2px;
  background-color: inherit;
  color: @accent;
  transition: 0.3s ease;
}

#workspaces button.active {
  background-color: @accent;
  color: @base;
}

#workspaces button:hover {
  background-color: shade(@accent, 0.9);
  color: @base;
}

#window {
    color: @accent;
}

#temperature {
  color: @yellow;
}
#temperature.critical {
	color: @red
}

#custom-gpu-temp {
	color: @orange;
}

#power-profiles-daemon.performance {
	color: @red
}

#power-profiles-daemon.balanced {
	color: @cyan;
}

#power-profiles-daemon.power-saver {
	color: @green;
}

#custom-menu {
  color: @green;
  margin-right: 20px;
  margin-left: 2px;

}

#custom-menu.dnd-none {
  margin-right: 22px;
  margin-left: 0px;
}

#custom-menu.dnd-notification {
  margin-right: 22px;
  margin-left: 0px;
}

#network {
    color: @blue;
}
#network.ethernet {
    margin-right: 6px;
}
    
#network.wifi {
    margin-right: 9px;
}

#network.disconnected {
  margin-right: 6px;
}

#pulseaudio {
    color: @magenta;
    transition: all 0.3s ease;
}

#clock {
    padding: 4px 12px;
    background-color: inherit;
    color: @text;
    margin: 6px 0;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 14px;
}

#clock:hover {
    background-color: shade(@base, 0.8);
}

#custom-seperator {
    color: @text;
}
/*  Style Battery Widget */
#battery {
	color: @green;
	margin-right: 7px
}
/* When Battery is below 30  change to yellow */
#battery.warning {
	background-color: transparent;
	color: @yellow;
}
/* Charging Animation */
@keyframes chargingBlink {
	to{
		color: transparent;
	}
}
/*Battery Critical Animation*/
@keyframes dyingBlink {
	to {
		color: transparent;
	}
}
/* Battery when charing and not full configuration*/
#battery.charging:not(.full), #battery.plugged:not(.full) {
	color: @green;
	animation-name: chargingBlink;
	animation-duration: 2s;
	animation-timing-function: steps(36);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
/* Battery when critical and not charging configuration*/
#battery.critical:not(.charging) {
	color: @red;
	animation-name: dyingBlink;
	animation-duration: 1s;
	animation-timing-function: steps(18);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
