@import "../colors/schemes/gruvbox/dark/colors.css";
* {
    font-family: "AdwaitaMono", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

window#waybar {
    background-color: @base;
/*    border-radius: 8px;*/
/*    border: 2px solid @accent; */
}

#workspaces {
  margin-left: 8px;
  margin: 6px;
  padding: 0;
}

#workspaces button {
  padding: 0px 5px;
  margin-right: 3px;
  border-radius: 20%;
  background-color: inherit;
  color: @aqua;
  transition: 0.3s ease;
}

#workspaces button.active {
  background-color: @aqua;
  color: @base;
}

#workspaces button:hover {
  background-color: shade(@aqua, 0.9);
  color: @base;
}

#window {
    color: @accent;
}

#temperature {
  color: @yellow;
}
#temperature.critical {
	color: @red
}

#custom-gpu-temp {
	color: @orange;
}

#custom-menu {
  color: @green;
  margin-right: 20px;
  margin-left: 2px;

}

#custom-menu.dnd-none {
  margin-right: 22px;
  margin-left: 0px;
}

#custom-menu.dnd-notification {
  margin-right: 22px;
  margin-left: 0px;
}

#network {
    padding: 0px 0px;
    color: @blue;
    margin-right: 4px;
    transition: all 0.3s ease;
}

#pulseaudio {
    color: @magenta;
    transition: all 0.3s ease;
}

#clock {
    padding: 4px 12px;
    background-color: inherit;
    color: @text;
    margin: 6px 0;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 14px;
}

#clock:hover {
    background-color: shade(@base, 0.8);
}

#custom-seperator {
    color: @text;
}
