@define-color accent #7aa2f7;
@define-color cyan #7dcfff;
@define-color teal #1abc9c;
@define-color text #c0caf5;
@define-color base #24283B;
@define-color red  #f7768e;
@define-color blue #b4f9f8;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color green #9ece6a;
@define-color purple #9d7cd8;
@define-color magenta #bb9af7;
