binds {
    Alt+Ctrl+Delete hotkey-overlay-title="Task Manager: Toggle" { spawn "dms" "ipc" "call" "processlist" "toggle"; }
    Super+D hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Super+Shift+P hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Super+0 hotkey-overlay-title="Focus Workspace 10" { focus-workspace 10; }
    Super+1 hotkey-overlay-title="Focus Workspace 1" { focus-workspace "main"; }
    Super+2 hotkey-overlay-title="Focus Workspace 2" { focus-workspace "main2"; }
    Super+3 hotkey-overlay-title="Focus Workspace 3" { focus-workspace "discord"; }
    Super+4 hotkey-overlay-title="Focus Workspace 4" { focus-workspace "general"; }
    Super+5 hotkey-overlay-title="Focus Workspace 5" { focus-workspace 5; }
    Super+6 hotkey-overlay-title="Focus Workspace 6" { focus-workspace 6; }
    Super+7 hotkey-overlay-title="Focus Workspace 7" { focus-workspace 7; }
    Super+8 hotkey-overlay-title="Focus Workspace 8" { focus-workspace 8; }
    Super+9 hotkey-overlay-title="Focus Workspace 9" { focus-workspace 9; }
    Super+Shift+0 hotkey-overlay-title="Move Column to Workspace 10" { move-column-to-workspace 10; }
    Super+Shift+1 hotkey-overlay-title="Move Column to Workspace 1" { move-column-to-workspace "main"; }
    Super+Shift+2 hotkey-overlay-title="Move Column to Workspace 2" { move-column-to-workspace "main2"; }
    Super+Shift+3 hotkey-overlay-title="Move Column to Workspace 3" { move-column-to-workspace "discord"; }
    Super+Shift+4 hotkey-overlay-title="Move Column to Workspace 4" { move-column-to-workspace "general"; }
    Super+Shift+5 hotkey-overlay-title="Move Column to Workspace 5" { move-column-to-workspace 5; }
    Super+Shift+6 hotkey-overlay-title="Move Column to Workspace 6" { move-column-to-workspace 6; }
    Super+Shift+7 hotkey-overlay-title="Move Column to Workspace 7" { move-column-to-workspace 7; }
    Super+Shift+8 hotkey-overlay-title="Move Column to Workspace 8" { move-column-to-workspace 8; }
    Super+Shift+9 hotkey-overlay-title="Move Column to Workspace 9" { move-column-to-workspace 9; }
    Super+F hotkey-overlay-title="Maximize Column" { maximize-column; }
    Super+H hotkey-overlay-title="Focus Left" { focus-column-left; }
    Super+J hotkey-overlay-title="Focus Down" { focus-window-down; }
    Super+K hotkey-overlay-title="Focus Up" { focus-window-up; }
    Super+L hotkey-overlay-title="Focus Right" { focus-column-right; }
    Super+Q hotkey-overlay-title="Close Window" { close-window; }
    Super+Shift+F hotkey-overlay-title="Fullscreen" { fullscreen-window; }
    Super+Shift+H hotkey-overlay-title="Move Left" { move-column-left; }
    Super+Shift+J hotkey-overlay-title="Move Down" { move-window-down; }
    Super+Shift+K hotkey-overlay-title="Move Up" { move-window-up; }
    Super+Shift+L hotkey-overlay-title="Move Right" { move-column-right; }
    Super+V hotkey-overlay-title="Toggle Floating" { toggle-window-floating; }
    Print hotkey-overlay-title="Screenshot (Interactive)" { screenshot show-pointer=true; }
    Super+Return { spawn "kitty"; }
    Super+Tab hotkey-overlay-title="Toggle Overview" { toggle-overview; }
}
