export PATH="$HOME/.local/bin:$PATH"
xrandr --output DP-1 --mode 2560x1440 --rate 240 --pos 0x0 --scale 1 &
xrandr --output DP-2 --mode 2560x1440 --rate 144 --pos 2560x0 --scale 1 &
[ -f $HOME/.fehbg ] && $HOME/.fehbg &
xset s off
xset -dpms
xdotool mousemove 1280 770
[ -f $HOME/.local/bin/autostart.sh ] && $HOME/.local/bin/autostart.sh & 

